.about-active {
  background-color: #e00000;
}

p {
  padding: 10px;
  position: relative;
  top: 30px;
  left: 50px;
}

h1 {
  text-align: center;
  margin-top: 20px;
  font-size: 40px;
  position: relative;
  top: 25px;
}

h2 {
  text-align: center;
  position:relative;
  bottom: 20px;
  right: 20px;
  margin-top: 20px;
}

section {
  height: 750px;
}

footer {
  background-color: #2d2d2d;
  color: white;
  padding: 20px;
  margin: 20px auto;
  height: 15px;
  width: 66.5%;
  text-align: center;
}

main section {
  margin-top: 20px;
  line-height: 20px;
  background-color: #2d2d2d;
  height: 800px;

}


main section section {
  display: inline-block;
  width: 45%;
  line-height: 20px;
  font-size: 18px;
  height: 700px
}

hr {
  position: relative;
  top: 30px;


}
#author {
  padding: 10px;
}

#poem_1 {
  margin-right: 30px;

}

#poem_2 {

}

#mainSection {


}
