.contact-active {
  background-color: #e00000;
}

section {
 position: relative;
 margin-bottom: 20px;
}

section div {
  border: 7px solid white;
  position: absolute;
  top: 0;
  margin-left: 140px;
  margin-top: 150px;
}

section h1 {
  font-size: 52px;
  font-weight: bold;
  padding: 60px 150px;
  letter-spacing: 3px;
}
 .kitten {
   -webkit-filter: grayscale(100%)
 }

form {
  background-color: #2D2D2D;
  height: 700px;
  width: 850px;
  text-align: center;
}

form h1 {
  text-align: center;
  font-size: 48px;
  padding-top: 25px;
  padding-bottom: 25px;
}

label {
  padding: 10px;
  font-size: 26px;
}

input {
  width: 350px;
  height: 50px;
}

fieldset {
  padding: 10px;
}

textarea {
  width: 350px;
  height: 150px;
}
