.home-active {
  background-color: #e00000;
}

/*Fonts

Menu: Droid Sans, Bold (Note: this is not one of the default fonts)
Body: Helvetica, Light
Button Text: Helvetica, Bold
Colors

Menu Text: #878787
Menu Text Selected: #FFFFFF
Menu Top Bar: #000000
Menu Top Bar Selected: #E00000
Menu Background: #2D2D2D
"Slider" circles: #FFFFFF
"Slider" text box: #3A3A3A at 70% opacity
Body Background: #EAEAEA
Body Text: #FFFFFF when white, #000000 when black
Body Text Box: #3A3A3A
Buttons: #E00000
Button Text: #FFFFFF
Footer: #2D2D2D*/

.bigkitty_box {
  position: relative
}

h1 {
  color: #3a3a3a;
  font-size: 24px;
  text-align: center;
  padding-top: 20px;
}

h1:after {
  content: '';
  display: block;
  background: #3a3a3a;
  height: 2px;
  max-width: 140px;
  width: 100%;
  margin: 10px auto;
}

article {
  background: #3a3a3a;
  height: 275px;
}

article span {
  display: inline-block;
}

article h3 {
  padding: 15px;
  font-size: 24px;
}

article p {
  font-size: 20px;
}

.recent_kitty {
  clear: left;
  margin-top: 24px;
  margin-bottom: 24px;
}

.recent_kitty img {
  float:left;
  border-right: 24px solid #eaeaea;
  margin-right: 15px;
}



footer {
  text-align: center;
  background: #2d2d2d;
  height: 50px;
}

footer p {
  color: white;
  padding-top: 16px;
  font-size: 18px;
}
